<div>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container">
      <a class="w-nav-brand" href="/home/{{user}}">
        <img src="/images/home_icon.png" width="50" alt="52f3e7855d8eed2b6b0013e3_home_icon.png">
      </a>
      <nav class="w-nav-menu" role="navigation">
        <a class="w-nav-link" href="/home/{{user}}">Home</a>
        <a class="w-nav-link" href="/profile/{{user}}">Profile</a>
        <a class="w-nav-link" href="/jobs/{{user}}">Browse Jobs</a>
        <a class="w-nav-link" href="/">Logout</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>