<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Feb 11 2014 18:54:53 GMT+0000 (UTC) -->
<html data-wf-site="52f19a02ba63705c45000010">
<head>
  <meta charset="utf-8">
  <title>Job Hunt - Create Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/job-hunt.webflow.css">
<!--   <link href="css/bootstrap.css" rel="stylesheet"> -->
  <!-- <link href="css/bootstrap-theme.css" rel="stylesheet"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div>
    <h2>&nbsp; &nbsp; &nbsp;Create Profile</h2>
  </div>
  <div class="w-form">
    <form class="w-clearfix" name="email-form" data-name="Email Form" method="get" action="/create_profile_2">
      <label class="create_labels" for="name">Name*</label>
      <input class="w-input create_text" type="text" placeholder="Enter your name" name="name" data-name="Name"></input>
      <label class="create_labels" for="email">Email Address*</label>
      <input class="w-input create_text" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"></input>
      <label class="create_labels">Password*</label>
      <input class="w-input create_text" type="text" name="password" required="required"></input>
      <label class="create_labels">Confirm Password*</label>
      <input class="w-input create_text" type="text" name="password2" required="required"></input>
      <label class="create_labels">Phone Number</label>
      <input class="w-input create_text" type="text" placeholder="(555) 555 - 5555" name="phone" required="required"></input>
      <label class="create_labels">Address</label>
      <input class="w-input create_text" type="text" placeholder="Street" name="street" required="required"></input>
      <select class="w-select dropdown_state" name="state" data-name="California" required="required">
        <option value="California">California</option>
        <option value="First">First Choice</option>
        <option value="Second">Second Choice</option>
        <option value="Third">Third Choice</option>
      </select>
      <input class="w-input dropdown_state" type="text" placeholder="Zip Code" name="zip" required="required"></input>
      <label class="create_labels">Max Distance Willing to Commute</label>
      <select class="w-select create_text" name="commute_dist" required="required">
        <option value="1-10">1-10 miles</option>
        <option value="11-20">11-20 miles</option>
        <option value="21-30">21-30 miles</option>
      </select>
      <label class="create_labels">Max Distance Willing to Relocate</label>
      <select class="w-select create_text" name="relocate_dist">
        <option value="0">Not at all</option>
        <option value="50">50 miles</option>
        <option value="100+">Another city</option>
        <option value="500+">Another state</option>
      </select>
      <div class="create_aster"><strong>* indicates required field</strong>
      </div><a class="button create_button" href="#">Link Your LinkedIn Account</a>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Submit Data"></input>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <a class="w-inline-block image_link" href="create_profile_2">
    <img class="arrow_next" src="images/right_arrow.png" alt="rarrow" width="63">
  </a>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>