
<div>
  <h2>&nbsp; Create Employer Profile</h2>
</div>
<div class="w-form">
  <form class="w-clearfix employer_form" name="email-form" data-name="Email Form" method="get" action="/employer_create_ii">
    <label class="create_labels" for="name">Name*</label>
    <input class="w-input create_text" type="text" placeholder="Enter your name" name="name" data-name="Name"></input>
    <label class="create_labels" for="email">Email Address*</label>
    <input class="w-input create_text" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"></input>
    <label class="create_labels">Password*</label>
    <input class="w-input create_text" type="password" name="password" required="required"></input>
    <label class="create_labels">Confirm Password*</label>
    <input class="w-input create_text" type="password" name="conpassword" required="required"></input>
    <label class="create_labels">Phone Number</label>
    <input class="w-input create_text" type="text" placeholder="(555) 555 - 5555" name="phone" required="required"></input>
    <label class="create_labels">Address</label>
    <input class="w-input create_text" type="text" placeholder="Street" name="street" required="required"></input>
    <select class="w-select dropdown_state" name="state" data-name="California" required="required">
      <option value="California">California</option>
      <option value="First">First Choice</option>
      <option value="Second">Second Choice</option>
      <option value="Third">Third Choice</option>
    </select>
    <input class="w-input dropdown_state" type="text" placeholder="Zip Code" name="zip" required="required"></input>
    <label class="create_labels">Company Name</label>
    <input class="w-input create_text" type="text" required="required" name="company_name" data-name="Company Name"></input>
    <label class="create_labels">Company Website</label>
    <input class="w-input create_text" type="text" name="company_website" required="required" data-name="Company Website"></input>
    <div class="create_aster"><strong>* indicates required field</strong>
    </div><a class="button create_button" href="#">Link Your LinkedIn Account</a>
    <input class="w-button create_submit" type="submit" value="NEXT" data-wait="Please wait..."></input>
  </form>
  <div class="w-form-done">
    <p>Thank you! Your submission has been received!</p>
  </div>
  <div class="w-form-fail">
    <p>Oops! Something went wrong while submitting the form :(</p>
  </div>
</div>
<a class="w-inline-block image_link" href="/employer_create_ii"></a>