
<div>
  <h2>&nbsp; Create Employer Profile</h2>
</div>
<div class="container">
  <div class="form-group">
    <form  method="get" action="/employer_create_ii">
    <label class="input_label" for="name">Name*</label>
    <input class="form-control" type="text" placeholder="Enter your name" name="name" data-name="Name"></input>
    <label class="input_label" for="email">Email Address*</label>
    <input class="form-control" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"></input>
    <label class="input_label">Password*</label>
    <input class="form-control" type="password" name="password" required="required"></input>
    <label class="input_label">Confirm Password*</label>
    <input class="form-control" type="password" name="password2" required="required"></input>
    <label class="input_label">Phone Number</label>
    <input class="form-control" type="text" placeholder="(555) 555 - 5555" name="phone"></input>
    <label class="input_label">Current Location</label>
    <input class="form-control" type="text" placeholder="City" name="city"></input>
      <input class="form-control" style="margin-top: 20px;" type="text" placeholder="Zip Code" name="zip"></input>
      <select style="margin-top: 20px;" class="form-control" name="state" data-name="California">
      {{#each states}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
    <div class="create_aster"><strong>* indicates required field</strong></div>


    <input class="w-button create_submit" type="submit" value="NEXT" data-wait="Please wait..."></input>
  </form>
</div>
</div>
<a class="w-inline-block image_link" href="/employer_create_ii"></a>