{{> nav_bar}}
<div class="w-form">
  <form class="w-clearfix" name="email-form" data-name="Email Form" method="get" action="/employer_add">
    <label class="create_labels" for="name">Skills You're Looking For</label>
    <input class="w-input create_text" type="text" placeholder="Enter skills (e.g. Database admin., SQL, etc.)" name="skills_wanted" data-name="Skills You&apos;re Looking For:" required="required"></input>
    <label class="create_labels" for="email">Company Departments</label>
    <input class="w-input create_text" type="text" placeholder="Company departments (e.g. HR, Engineering)" name="company_department" required="required" data-name="Departments"></input>
    <label class="create_labels">Company Industry</label>
    <select class="w-select create_text" name="company_industry" required="required" data-name="Drop Down">
      <option value="Art">Art/Fine Arts</option>
      <option value="First">Information Technology</option>
      <option value="Second">Biology</option>
      <option value="Third">Structural Engineering</option>
    </select>
    <label class="create_labels">Minimum Years of Experience Required</label>
    <select class="w-select create_text" name="min_years">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <label class="create_labels">Choose Profile Picture</label>
    <img class="create_image" src="images/user_icon.jpg" width="112" alt="52f2df37593f6edf41000431_user_icon.jpg"><a class="button create_button" href="#">Upload Resume</a><a class="button create_button" href="/employer_profile">Preview Profile</a>
    <input class="w-button create_submit" type="submit" value="Submit" data-wait="Please wait..."></input>
  </form>
  <div class="w-form-done">
    <p>Thank you! Your submission has been received!</p>
  </div>
  <div class="w-form-fail">
    <p>Oops! Something went wrong while submitting the form :(</p>
  </div>
</div>
