<div class="login_header">
  <h1>JobHunt</h1>
</div>
  <div class="login_section" style="width:90%">
    <div class="btn-group btn-block">
      <button type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown">
        SIGN UP        
        <span class="caret"></span>
      </button>
      <ul class="btn-block dropdown-menu">
        <li class="input_label"><a href="/employer_create">EMPLOYER</a></li>
        <li class="input_label"><a href="/create_profile">JOBHUNTER</a></li>
      </ul>
    </div>
       <a type="button" class="btn btn-block btn-success" href="/log_in">SIGN IN</a>
  </div>