
<div class="indexbody">
</div>
<div class="indexbottom">
  <div class="login_section">
    <div class="btn-group btn-block">
      <button type="button" style="font-size:18px;font-family:century gothic, arial;font-weight:bold; margin-top:50px; margin-bottom:20px; width:75%; margin-left:13%" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown">
        SIGN UP        
        <span class="caret"></span>
      </button>
      <ul class="btn-block dropdown-menu">
        <li class="input_label" style="font-size:18px;font-family:century gothic, arial;font-weight:bold"><a href="/employer_create">employer</a></li>
        <li class="input_label" style="font-size:18px;font-family:century gothic, arial;font-weight:bold"><a href="/create_profile">jobhunter</a></li>
      </ul>
    </div>
       <a type="button" style="font-size:18px;font-family:century gothic, arial;font-weight:bold;margin-top:10px; margin-bottom:20px; width:75%; margin-left:13%" class="btn btn-block btn-success" href="/log_in">SIGN IN</a>
  </div>
</div>
