<div class="login_header">
  <h1>JobHunt</h1>
</div>
<div class="login_section">
  <form role="form" method="get" action="/authenticate">
    <div class="form-group">
      <label class="input_label" for="user">Username</label>
      <input type="text" class="form-control" id="user" name="user" required="required" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label class="input_label" for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success btn-block">Submit</button>
  </form>
</div>