
{{#if err_msg}}
<div class="alert alert-warning">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Error! </strong>{{err_msg}}
</div>  
{{/if}}

<div class="indexbody">
</div>
<div class="indexbottom">
<div class="login_section">
  <form role="form" method="post" action="/authenticate">
    <div class="form-group">
      <label class="input_label" style="margin-top:20px" for="user">Username</label>
      <input type="text" style="margin-top:10px; margin-bottom:20px; width:75%; margin-left:13%" class="form-control" id="user" name="user" required="required" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label class="input_label" for="password">Password</label>
      <input type="password" style="margin-top:10px; margin-bottom:20px; width:75%; margin-left:13%" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" style="font-size:18px;font-family:century gothic, arial;font-weight:bold;margin-top:10px; margin-bottom:20px; width:75%; margin-left:13%" class="btn btn-success btn-block">LOGIN</button>
  </form>
</div>
</div>
