<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Feb 11 2014 18:54:53 GMT+0000 (UTC) -->
<html data-wf-site="52f19a02ba63705c45000010">
<head>
  <meta charset="utf-8">
  <title>Job Hunt - Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/job-hunt.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <section class="w-container heading">
    <div class="maintext"><strong>SETTINGS</strong>
    </div>
  </section>
  <div class="w-nav navbar" data-collapse="all" data-animation="default" data-duration="500" data-contain="1">
    <div class="w-container settings_nav">
      <a class="w-nav-brand" href="home">
        <img class="home_image" src="images/home_icon.png" width="50" height="50" alt="52f3e7855d8eed2b6b0013e3_home_icon.png">
      </a>
      <nav class="w-nav-menu" role="navigation"><a class="w-nav-link" href="home">Home</a><a class="w-nav-link" href="profile">Profile</a><a class="w-nav-link" href="notifications">Notifications</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>